@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-50: #e9e9ea;
  --black-100: #b9babc;
  --black-200: #98999c;
  --black-300: #686a6f;
  --black-400: #4b4d53;
  --black-500: #1e2128;
  --black-600: #1b1e24;
  --black-700: #15171c;
  --black-800: #111216;
  --black-900: #0d0e11;

  --white-50: #ffffff;
  --white-100: #fefeff;
  --white-200: #fefeff;
  --white-300: #fdfefe;
  --white-400: #fdfdfe;
  --white-500: #fcfdfe;
  --white-600: #e5e6e7;
  --white-700: #b3b4b4;
  --white-800: #8b8b8c;
  --white-900: #6a6a6b;

  --red-50: #fdecf0;
  --red-100: #f8c5d0;
  --red-200: #f5a9b9;
  --red-300: #f18299;
  --red-400: #ee6a85;
  --red-500: #ea4567;
  --red-600: #d53f5e;
  --red-700: #a63149;
  --red-800: #812639;
  --red-900: #621d2b;

  --green-50: #f2fcf0;
  --green-100: #d6f7d0;
  --green-200: #c3f3ba;
  --green-300: #a7ee9a;
  --green-400: #96ea86;
  --green-500: #7ce568;
  --green-600: #71d05f;
  --green-700: #58a34a;
  --green-800: #447e39;
  --green-900: #34602c;

  --blue-50: #edf2fd;
  --blue-100: #c7d6f8;
  --blue-200: #acc3f4;
  --blue-300: #86a7f0;
  --blue-400: #6f96ed;
  --blue-500: #4b7ce8;
  --blue-600: #4471d3;
  --blue-700: #3558a5;
  --blue-800: #294480;
  --blue-900: #203461;

  --yellow-50: #fefaee;
  --yellow-100: #fcf0ca;
  --yellow-200: #fbe8b0;
  --yellow-300: #f9de8c;
  --yellow-400: #f8d875;
  --yellow-500: #f6ce53;
  --yellow-600: #e0bb4c;
  --yellow-700: #af923b;
  --yellow-800: #87712e;
  --yellow-900: #675723;
}

body {
  font-family: var(--font-satoshi);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3e%3cdefs%3e%3cpattern id='grid' width='80' height='80' patternUnits='userSpaceOnUse'%3e%3crect width='80' height='80' x='1' y='1' fill='none' stroke='rgba(75, 124, 232, 0.1)' stroke-width='1' stroke-dasharray='6, 6'/%3e%3c/pattern%3e%3c/defs%3e%3crect width='100%25' height='100%25' fill='url(%23grid)'/%3e%3c/svg%3e");
  background-size: 80px 80px;
  background-position: -0.5px;
}

/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* backdrop-filter: blur(6px); */
/* background: rgba(255, 255, 255, 0.1); */
/* z-index: -1; */
/* } */

.footer {
  @apply bg-[#011E4E];
}

.dashedBorder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%234B7CE8' stroke-width='4' stroke-dasharray='8%2c 16' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dashedLine {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='4'%3e%3cline x1='0' y1='2' x2='100%25' y2='2' stroke='%234B7CE8' stroke-width='4' stroke-dasharray='5%2c10' stroke-linecap='square' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  height: 1px;
}

.solidLine {
  background-color: var(--blue-500);
}


@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Input type number spinner removal */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
